# SQLite file path for non-test runs
DATABASE_URL=./data/app.db
# Base URL of your app
BETTER_AUTH_URL=http://localhost:3000
# 32 char long secret key for hashing
BETTER_AUTH_SECRET=somesecretkey32charlong
