NODE_ENV=development
# SQLite file path for non-test runs
DATABASE_URL=./data/app.db
# Base URL of your app
BETTER_AUTH_URL=http://localhost:3000
# 32 char long secret key for hashing
BETTER_AUTH_SECRET=somesecretkey32charlong
YOUTUBE_DATA_API_V3=apikey
# Base URL of your app where its running
APP_URL=http://localhost:3000
